:root {
	--gray-100: #f3f4f6;
	--gray-300: #d1d5db;
	--gray-500: #6b7280;
	--gray-900: #111827;
	--gray-950: #030712;

	--font-xs: 0.75rem;
	--font-sm: 0.87rem;
	--font-base: 1rem;
	--font-xl: 1.25rem;
	--font-2xl: 1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--gray-950);
}

html, body {
	height: 100vh;
	min-height: 100%;
}

body, input, label textarea button {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}